// Font Family = Nunito & Roboto
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700|Roboto:300,400,500,700');

// Vars
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Colors
$primary-color: #6275DE;
$secondary-color: #64D360;
$off-white: #FAFAFA;
$placeholder-text: #B8B8BE;
$primary-text: #2B304A;
$secondary-text: #64677B;

a {
    &:hover {
        text-decoration: none;
    }
}
body {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    line-height: 1.6;
}

h1, h2 , h3, h4, h5, h6 {
    font-family: $primary-font;
    font-weight: 600;
}


// Header Section
.header-section {
    padding: 20px 0;
    -webkit-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.06);
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.06);
    .logo a {
        font-size: 20px;
        color: $primary-text;
        font-family: $primary-font;
        font-weight: 700;
    }

    .quick-link a {
        color: $primary-text;
        font-weight: 700;
        font-family: $primary-font;
        font-size: 16px;
    }
}


// Hero Section
.hero-section {
    height: 300px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}



// Hero Section
.hero-section {
    // hero text
    .hero-text {
        .hero-title {
            font-size: 26px;
            font-weight: 700;
            color: #ffffff;
        }
    }

    // input box wrapper
    .hero-input-box-wrapper {
        margin-top: 30px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        // Form
        form.hero-form input {
            width: 100%;
            border: 0;
            padding: 20px;
            border-radius: 5px 5px 0 0;
            color: $primary-text;
            font-family: $secondary-font;
            font-size: 18px;
            font-weight: 300;
            &:focus {
                box-shadow: 0 0 0 0;
                outline: none;
                &::-webkit-input-placeholder { color:transparent; }
                &:-moz-placeholder { color:transparent; } /* FF 4-18 */
                &::-moz-placeholder { color:transparent; } /* FF 19+ */
                &:-ms-input-placeholder { color:transparent; } /* IE 10+ */
            }
            
            &::placeholder {
                color: $placeholder-text;
                font-family: $secondary-font;
                font-size: 18px;
                font-weight: 300;
            }
        }

        // submit wrapper
        .submit-wrapper {
            background-color: $off-white;
            border-radius: 0 0 5px 5px;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                margin: 0;
                font-size: 10px;
                margin-right: 5px;
                font-weight: 600;
                color: $secondary-text;
                font-family: $secondary-font;
            }
            .btn-common {
                display: inline-block;
                background: $secondary-color;
                color: #fff;
                padding: 8px 20px;
                border-radius: 5px;
                font-weight: 700;
                font-size: 14px;
                font-family: $secondary-font;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }
        }
    }
}

// Top entries section
.top-entries-section {
    padding: 50px 0;
    background-color: #f2ecec47
}

.section-title {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    &::before {
        position: absolute;
        content: "";
        top: 42px;
        left: 0;
        height: 2px;
        width: 115px;
        background-color: $primary-color;
    }
    &::after {
        position: absolute;
        content: "";
        top: 50px;
        left: 0;
        width: 70px;
        height: 2px;
        background-color: $primary-color;
    }
}

.top-entry-wrapper {
    margin-top: 50px;
}

.single-entry {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    .time {
        padding-bottom: 10px;
        border-bottom: 2px solid #f8f5f5;
        p {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 600;
            i {
                color: #5a5959;
            }
        }
    }

    .quote {
        padding: 10px;
        p {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            font-style: italic;
            color: #5a5959;
            text-align: center;
        }
    }

    .name p {
        margin: 0;
        text-align: right;
        font-size: 16px;
        padding-bottom: 10px;
    }

    .transection-hash {
        border-top: 2px solid #f8f5f5;
        padding-top: 10px;
        p {
            font-size: 10px;
            margin-bottom: 0;
            font-weight: 600;
        }

    }
}

// Footer Section
.footer-section {
    background-color: rgba(45, 52, 54,1.0);
    padding: 20px 0;
}

footer.footer-section p {
    color: #fff;
}

footer.footer-section p i {
    color: tomato;
}

footer.footer-section p a {
    color: $secondary-color;
    font-weight: 600;
}

.socail-icons i {
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    background-color:  $primary-color;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
}