// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .header-section {
        padding: 30px 0;
    }
    .header-section .logo a h2 {
        font-size: 32px;
    }
    .hero-section {
        height: 100vh;
        position: relative;
        border-radius: 0;
        background: #fff;
        overflow: hidden;
    }
    .hero-section .hero-text h1 {
        font-size: 46px;
        line-height: 1.4;
        font-weight: 700;
    }
    .hero-section .hero-text .btn-common {
        margin-top: 25px;
    }
    .btn-common {
        font-weight: 600;
        padding: 14px 40px;

        border-radius: 30px;
    }
    .hero-section::before {
        position: absolute;
        content: "";
        width: 1300px;
        height: 1080px;
        top: -330px;
        right: -300px;
        left: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/hero-bg.png);
        background-position: right;
    }
    .section-padding {
        padding: 120px 0;
    }
    .section-title {
        h2 {
            font-size: 44px;
        }
    }
    .about-us-wrapper {
        margin-top: 80px;
    }
    .single-about-widget img {
        width: 100px;
    }
    .single-about-widget h3 {
        font-size: 20px;
    }
    .app-screenshot-wrapper {
        margin-top: 80px;
    }
    .app-screenshot-wrapper::before {
        top: -70px;
        left: -50px;
        width: 200px;
        height: 200px;
    }
    .app-screenshot-wrapper::after {
        width: 150px;
        height: 150px;
        right: -30px;
        bottom: -18px;
    }
    .instruction-wrapper {
        margin-top: 100px;
    }
    .single-instruction {
        margin-bottom: 70px;
        padding-bottom: 50px;
    }

    .single-member {
        padding: 30px 50px;
        margin-bottom: 50px;
        height: 470px;
    }
    .single-member .social i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .team-wrapper {
        margin-top: 80px;
    }
    .single-member .details .name {
        font-size: 24px;
    }
    .single-member .image img {
        width: 150px;
    }
    .github-widget {
        .follow {
            text-align: left;
            h2 {
                font-size: 28px;
            }
        }
    }
    .footer-section {
        .footer-text {
            p {
                font-size: 14px;
            }
        }
    }
}